@{
    ViewBag.Title = "Tooling";
}

<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>

<div>
    <h2>The Tooling page</h2>
</div>

<ul>
    <li>@Html.ActionLink("Tool Reorder List", "ReOrderList", "Tooling")</li>
    <li>Search Tooling</li>
    <li>Tooling Installation Guide</li>
    <li>Feeds and Speeds Charts</li>
</ul>